# URL de base de l'API WooCommerce
EXPO_PUBLIC_API_URL=https://obuy.cloud/wp-json

# Clés API WooCommerce
EXPO_PUBLIC_WC_KEY=ck_xxxxx
EXPO_PUBLIC_WC_SECRET=cs_xxxxx

# Mode mock : true en dev, false en prod (pour les simulations en dev)
EXPO_PUBLIC_USE_MOCK=true
